.page {
    display: flex;
    flex-direction: column;
    height: 150vh;
}

header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-top {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.push-right {
    margin-left: auto;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
    
}

.header-body {
    display: flex;
    margin-top: 100px;
    padding-bottom: 100px;
}

.header-body-text {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    justify-content: center;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.button-part{
    display: flex;
    margin-top: 5px;
}

button {
    flex: 0 1 auto;
    color: white;
    background-color: #3882F6;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 100px;
}

.header-body-image {
    flex: 2 1 0;
    margin-left: 40px;
    /*Photo by <a href="https://unsplash.com/@laurenceziegler?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Laurence Ziegler</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>*/
}

.header-body-image img {
    width: 100%;
    height: 400px;
}

.information-part {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.information-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustration-part {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.captioned-illustration {
    display: flex;
    flex: 0 1 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.illustration {
    border: 3px solid blue;
    border-radius: 10%;
    height: 150px;
    width: 150px;
}

.caption {
    color: darkslateblue;
    text-align: center;
    margin-top: 5px;
}

.quote-part {
    background-color: #E5E7EB;
}