/*Size Content to The Viewport
Users are used to scroll websites vertically on both desktop and mobile devices - but not horizontally!

So, if the user is forced to scroll horizontally, or zoom out, to see the whole web page it results in a poor user experience.

Some additional rules to follow:

1. Do NOT use large fixed width elements - For example, if an image is displayed at a width wider than the viewport it can cause the viewport to scroll horizontally. Remember to adjust this content to fit within the width of the viewport.

2. Do NOT let the content rely on a particular viewport width to render well - Since screen dimensions and width in CSS pixels vary widely between devices, content should not rely on a particular viewport width to render well.

3. Use CSS media queries to apply different styling for small and large screens - Setting large absolute CSS widths for page elements will cause the element to be too wide for the viewport on a smaller device. Instead, consider using relative width values, such as width: 100%. Also, be careful of using large absolute positioning values. It may cause the element to fall outside the viewport on small devices.*/

.page {
    display: flex;
    flex-direction: column;
    height: 200vh;
}

header {
    flex: 1 0 0;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-top {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.push-right {
    margin-left: auto;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
    
}

.header-body {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
}

.header-body-text {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.button-part{
    display: flex;
    margin-top: 5px;
}

.button-part button {
    flex: 0 1 auto;
    color: white;
    background-color: #3882F6;
    text-align: center;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 100px;
    font-weight: bold;
}

.header-body-image {
    flex: 2 1 0;
    margin-left: 40px;
    /*Photo by <a href="https://unsplash.com/@laurenceziegler?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Laurence Ziegler</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>*/
}

.header-body-image img {
    width: 100%;
    height: 300px;
}

.information-part {
    flex: 1 0 0;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.information-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustration-part {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.captioned-illustration {
    display: flex;
    flex: 0 1 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.illustration {
    border: 3px solid blue;
    border-radius: 10%;
    height: 150px;
    width: 150px;
}

.caption {
    color: darkslateblue;
    text-align: center;
    margin-top: 5px;
}

.quote-part {
    flex: 1 0 0;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote-text {
    height: 250px;
    width: 800px;
    text-align: center;
    flex: 0 1 0;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.quote-owner {
    width: 800px;
    flex: 0 1 0;
    text-align: right;
    font-size: 24px;
    font-weight: bolder;
}

.call-to-action-container {
    flex: 1 0 0;
    display: flex;
    background-color: #3882F6;
    color: white;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
}

.call-to-action-button button {
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    height: 50px;
    color: white;
    background-color: #3882F6;
}

.call-text {
    font-size: 26px;
    font-weight: bold;
}

.sign-up-text {
    font-size: 20px;
}

.copyright {
    flex: 0 1 0;
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.copyright-text {
    color: white;
    font-size: 20px;
}